img.rounded {
    border-radius: 15px;
}

#slideshow-controls {
    position: relative;
    z-index: 999;
}

button.previous, button.next {
    margin-top: 46%;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    color: #2f2f2f;
    background: white;
    border: none;
    border-radius: 50%;
}

#slideshow:hover button.previous {
    opacity: 1;
    margin-left: 4%;
    -o-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

#slideshow:hover button.next {
    right: 0;
    margin-right: 4%;
    opacity: 1;
    -o-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

button:focus {
    outline:0;
}